<% content_for :title do %>
  Detail User
<% end %>
<div class="row justify-content-md-center">
<div class="col-8 ">
   <div class="row mt-3">
      <div class="col-10">
         <h4>User Detail</h4>
      </div>
   </div>
   <div class="row mt-3">
      <form id="form-org">
         <div class="mb-3 row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <label class="col-sm-10 col-form-label" id="name"><%= @user.name %></label>
         </div>
         <div class="mb-3 row">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <label class="col-sm-2 col-form-label" id="email"><%= @user.email %></label>
         </div>
         <div class="mb-3 row">
            <label for="phone" class="col-sm-2 col-form-label">Password</label>
            <label class="col-sm-2 col-form-label" id="phone"><%= @user.password %></label>
         </div>
         <div class="mb-3 row" id="div-org">
            <label for="organization_name" class="col-sm-10 col-form-label">Assign Organizationsss</label>
             <div class="offset-sm-2 col-sm-8">
               <table id="table-assign-org" class="table" width="100%">
                  <thead>
                     <tr>
                        <th class="text-center">Organization</th>
                     </tr>
                  </thead>
                  <tbody>
                    <% @user.organization.each do |org| %>
                           <tr>
                              <td><%= org.name %></td>
                           </tr>
                    <% end %>
                  </tbody>
                 </table>
             </div>
         </div>
      </form>
   </div>
</div>
</div>
