<!-- modal loading -->
    <div class="modal fade" id="loading" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-body">
                <div class="row justify-content-md-center">
                    <div class="spinner-grow" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
<!-- ======================== -->  
<!-- modal popup info -->  
<div class="modal fade" id="popup_info" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="popup_title"></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
        <div class="modal-body">
            <p id="popup_body"></p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>        
      </div>
    </div>
  </div>
  <!-- ========================  
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">© Copyright 2021 Yasir Ahmad Munif - Printerous Test</a>
        </div>
    </nav>
    --> 
